<?php

/* Check flag ... */
$rcmail_config['webmail_notifier_flag'] = 'UNSEEN'; //RECENT

/* Webmail Notifier download links */
$rcmail_config['webmail_notifier_download_firefox'] = 'http://webmailnotifier.mozdev.org';
$rcmail_config['webmail_notifier_download_chrome'] = 'http://xnotifier.tobwithu.com/cr';

/* Provider name */
$rcmail_config['providername'] = 'Mail4Us.net';

/* Check method: 1 => all folder, 2 => INBOX only, 3 => INBOX and Junk only */
$rcmail_config['webmail_notifier_folders'] = 2;

?>